@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    input:-webkit-autofill {
      @apply bg-custom-green text-black transition-colors;
      -webkit-background-clip: padding-box;
      -webkit-text-fill-color: black;
    }
  }